<h1>Listing services</h1>

<table class="table-bordered">
  <thead>
    <tr>
      <th class="col-md-2">Client</th>
      <th class="col-md-2">Service</th>
      <th class="col-md-1">Status</th>
      <th class="col-md-2">Expirate date</th>
      <th class="col-md-2" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td class="col-md-2"> <%= service.client_id %></td>
        <td class="col-md-2"><%= service.service %></td>
        <td class="col-md-1"><%= service.status %></td>
        <td class="col-md-3"><%= service.expirate_date %></td>
        <td class="col-md-1"><%= link_to 'Show', service %></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_service_path(service) %></td>
        <td class="col-md-1"><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
