<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @service.client_id %>
</p>

<p>
  <strong>Produkt:</strong>
  <%= @service.service %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<p>
  <strong>Expirate date:</strong>
  <%= @service.expirate_date %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
