<h1>Listing employees</h1>

<table class="table-bordered">
  <thead>
    <tr>
      <th class="col-md-2">Jméno</th>
      <th class="col-md-2">Příjmení</th>
      <th class="col-md-3">Rodné číslo</th>
      <th class="col-md-3">Datum narození</th>
      <th class="col-md-2" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td class="col-md-2"><%= employee.name %></td>
        <td class="col-md-3"><%= employee.surname %></td>
        <td class="col-md-3"><%= employee.social_security_number %></td>
        <td class="col-md-1"><%= employee.birth_date %></td>
        <td class="col-md-1"><%= link_to 'Show', employee %></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat nového zaměstnance', new_employee_path %>
