<p id="notice"><%= notice %></p>

<p>
  <strong>Zákazník:</strong>
  <%= @invoice.user_id %>
</p>

<p>
  <strong>Datum vytvoření:</strong>
  <%= @invoice.date_created %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Datum pladby:</strong>
  <%= @invoice.payment_date %>
</p>

<p>
  <strong>Typ pladby:</strong>
  <%= @invoice.payment_type %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong>Položky:</strong>
  <%= @invoice.items %>
</p>

<p>
  <strong>Poznámka:</strong>
  <%= @invoice.note %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
