<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Jméno' %><br>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :surname, 'Příjmení' %><br>
    <%= f.text_field :surname, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :address, 'Adresa' %><br>
    <%= f.text_area :address, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :social_security_number, 'Rodné číslo' %><br>
    <%= f.text_field :social_security_number, :class => 'text_field' %>
  </div>
  <div class="field text_field">
    <%= f.label :birth_date, 'Datum narození', :style => 'color:white;' %><br>
    <%= f.date_select :birth_date %>
  </div>
  <div class="actions text_field">
    <%= f.submit'Odeslat' %>
  </div>
<% end %>
