<h1>Seznam klientů</h1>

<table>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Příjmení</th>
      <th>Rodné číslo</th>
      <th>Datum narození</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.social_security_number %></td>
        <td><%= client.birth_date %></td>
        <td><%= link_to 'Zobrazit', client %></td>
        <td><%= link_to 'Editovat', edit_client_path(client) %></td>
        <td><%= link_to 'Smazat', client, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nový klient', new_client_path %>
