<h1>Seznam klientů</h1>

<table class="table-bordered">
  <thead>
    <tr>
      <th class="col-md-2">Jméno</th>
      <th class="col-md-2">Příjmení</th>
      <th class="col-md-3">Rodné číslo</th>
      <th class="col-md-3">Datum narození</th>
      <th class="col-md-2" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td class="col-md-2"><%= client.name %></td>
        <td class="col-md-3"><%= client.surname %></td>
        <td class="col-md-3"><%= client.social_security_number %></td>
        <td class="col-md-1"><%= client.birth_date.strftime("%d-%m-%Y") %></td>
        <td class="col-md-1"><%= link_to 'Zobrazit', client %></td>
        <td class="col-md-1"><%= link_to 'Editovat', edit_client_path(client) %></td>
        <td class="col-md-1"><%= link_to 'Smazat', client, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nový klient', new_client_path %>
