<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Adresa:</strong>
   <%= @client.street %>, <%= @client.post_number.to_s[0..2] %> <%= @client.post_number.to_s[3..4] %>  <%= @client.city%>
</p>


<p>
  <strong>Rodné číslo:</strong>
  <%= @client.social_security_number %>
</p>

<p>
  <strong>Datum narození:</strong>
  <%= @client.birth_date %>
</p>

<%= link_to 'Editovat', edit_client_path(@client) %> |
<%= link_to 'Zpět', clients_path %>

<div>


</div>
