<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Rodné číslo:</strong>
  <%= @client.social_security_number %>
</p>

<p>
  <strong>Datum narození:</strong>
  <%= @client.birth_date %>
</p>

<%= link_to 'Editovat', edit_client_path(@client) %> |
<%= link_to 'Zpět', clients_path %>
