<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :companny, 'Firma' %><br>
    <%= f.text_field :companny %>
  </div>
  <h4>Kontaktní osoba</h4>
  <div class="field">
    <%= f.label :name, 'Jméno' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname, 'Příjmení' %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :address_street, 'Ulice' %><br>
    <%= f.text_field :address_street %>
  </div>
  <div class="field">
    <%= f.label :address_city, 'Město' %><br>
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label :address_zipcode, 'PSč' %><br>
    <%= f.text_field :address_zipcode %>
  </div>
  <div class="field">
    <%= f.label :ic, 'IČ' %><br>
    <%= f.text_field :ic %>
  </div>
  <div class="field">
    <%= f.label :dic, 'DIČ' %><br>
    <%= f.text_field :dic %>
  </div>
  <div class="field">
    <%= f.label :contact, 'Kontakt' %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :note, 'Poznámka' %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit 'Odeslat' %>
  </div>
<% end %>
