<h1>Přehled zákazníků</h1>

<table>
  <thead>
    <tr>
      <th>Firma</th>
      <th>Měto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.companny %></td>
        <td><%= customer.address_city %></td>
        <td><%= link_to 'Zobrazit', customer %></td>
        <td><%= link_to 'Upravit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Smazat', customer, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nový zákazník', new_customer_path %>
