<p id="notice"><%= notice %></p>


<p>
  <strong>Firma:</strong>
  <%= @customer.companny %>
</p>
<h4>Kontaktní osoba</h4>
<p>
  <strong>Jméno:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @customer.surname %>
</p>

<p>
  <strong>Ulice:</strong>
  <%= @customer.address_street %>
</p>

<p>
  <strong>Město:</strong>
  <%= @customer.address_city %>
</p>

<p>
  <strong>PSČ:</strong>
  <%= @customer.address_zipcode %>
</p>

<p>
  <strong>IČ:</strong>
  <%= @customer.ic %>
</p>

<p>
  <strong>DIČ:</strong>
  <%= @customer.dic %>
</p>

<p>
  <strong>Kontakt:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Poznámka:</strong>
  <%= @customer.note %>
</p>

<%= link_to 'Upravit', edit_customer_path(@customer) %> |
<%= link_to 'Zpět', customers_path %>
