<div>
		<h3>Navigace</h3>

<ul>
		<li><%= link_to "Home", root_path %></li>
         <li>Domácnosti</li>
         <li><%= link_to 'Firmy', companies_path %></li>
         <li><%= link_to 'Aplikace', application_path %></li>
         <li><%= link_to "Napište nám", new_contact_path %></li>
         <li><%= link_to "Onás", about_path %></li>
</ul>
	</div>

<div>
	<h3>Administrace</h3>
<ul>
	<li><%= link_to "Zaměstnanci", employees_path %></li>
        <li><%= link_to "Klienti", clients_path %></li>
        <li><%= link_to "Služby", services_path %></li>
        <li><%= link_to "Produkty", products_path %></li>

</ul>
</div>