<div>
		<h3>Navigace</h3>

<ul>
		<li><%= link_to "Home", root_path %></li>
         <li>Domácnosti</li>
         <li><%= link_to 'Firmy', nil %></li>
         <li><%= link_to 'Aplikace', nil %></li>
         <li><%= link_to "Napište nám", nil %></li>
         <li><%= link_to "Onás", nil %></li>
</ul>
	</div>

<div>
	<h3>Administrace</h3>
<ul>
	<li><%= link_to "Zaměstnanci", nil %></li>
                <li><%= link_to "Klienti", nil %></li>
</ul>
</div>