<div>
		<h3>Navigace</h3>

<ul>
		<li><%= link_to "Home", root_path %></li>
         <li>Domácnosti</li>
         <li>Firmy</li>
         <li><%= link_to "Napište nám", mail_path %></li>
         <li><%= link_to "Onás", about_path %></li>      
</ul>
	</div>

<div>
	<h3>Administrace</h3>
<ul>
	<li><%= link_to "Zaměstnanci", employees_path %></li>
                <li><%= link_to "Klienti", clients_path %></li>
</ul>
</div>